@import '../css/variables';

:host {
   width: 100%;
   height: 100%;

   //Structure
   >.top {
      display: grid;
      grid-template-rows: 1fr 8fr;
      grid-template-columns: 1fr;

      >.panel {
         grid-row: 1 / 2;
      }

      >.main {
         grid-row: 2 / 3;

         display: grid;
         grid-template-rows: auto minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content) auto;

         >* {
            padding: 10px 0px 10px 0px;
         }
      }

      @media (max-width: 768px) {
         height: 100vh;
      }
   }

   //Style
   >.top {
      position: relative;
      background-color: $color2;
      background-image: radial-gradient(circle, transparent 62%, rgba(255, 255, 255, 0.08) 62%, rgba(255, 255, 255, 0.08) 91%, transparent 91%),
         radial-gradient(circle, transparent 80%, rgba(255, 255, 255, 0.16) 80%, rgba(255, 255, 255, 0.16) 94%, transparent 94%),
         radial-gradient(circle, transparent 78%, rgba(255, 255, 255, 0.24) 78%, rgba(255, 255, 255, 0.24) 85%, transparent 85%);

      color: $color3;
      box-shadow: 0px 1px 5px black;
      height: 55%;
      overflow: hidden;

      >.main {
         z-index: 2;
         align-items: center;
         justify-items: center;
      }
   }
}